// quarto-scss-analysis-annotation { "quarto-version": "1.7.15" }

// quarto-scss-analysis-annotation { "origin": "'use' section from format" }



// quarto-scss-analysis-annotation { "origin": "'use' section from Quarto" }



// quarto-scss-analysis-annotation { "origin": "'use' section from user-defined SCSS" }



// quarto-scss-analysis-annotation { "origin": "'functions' section from format" }



// quarto-scss-analysis-annotation { "origin": "'functions' section from Quarto" }



// quarto-scss-analysis-annotation { "origin": "'functions' section from user-defined SCSS" }



// quarto-scss-analysis-annotation { "origin": "Defaults from user-defined SCSS" }



// quarto-scss-analysis-annotation { "origin": "Defaults from Quarto's SCSS" }



// quarto-scss-analysis-annotation { "origin": "Defaults from the format SCSS" }



// quarto-scss-analysis-annotation { "origin": "'mixins' section from format" }



// quarto-scss-analysis-annotation { "origin": "'mixins' section from Quarto" }



// quarto-scss-analysis-annotation { "origin": "'mixins' section from user-defined SCSS" }



// quarto-scss-analysis-annotation { "origin": "'rules' section from format" }



// quarto-scss-analysis-annotation { "origin": "'rules' section from Quarto" }

/* quarto syntax highlight colors */
:root {
  --quarto-hl-co-color: #969896;
  --quarto-hl-kw-color: #c397d8;
  --quarto-hl-cf-color: #c397d8;
  --quarto-hl-op-color: #70c0b1;
  --quarto-hl-fu-color: #dedede;
  --quarto-hl-dt-color: #e7c547;
  --quarto-hl-st-color: #b9ca4a;
  --quarto-hl-ch-color: #b9ca4a;
  --quarto-hl-dv-color: #e78c45;
  --quarto-hl-fl-color: #e78c45;
  --quarto-hl-cn-color: #e78c45;
  --quarto-hl-va-color: #dedede;
  --quarto-hl-bu-color: #e7c547;
  --quarto-hl-at-color: #e7c547;
  --quarto-hl-pp-color: #c397d8;
  --quarto-hl-er-color: #ffffff;
  --quarto-hl-wa-color: #ffffff;
  --quarto-hl-in-color: #ffffff;
}

/* other quarto variables */
:root{--quarto-font-monospace: "Inconsolata";}

pre > code.sourceCode > span {
color: #dedede;
}


code span {
color: #dedede;
}


code.sourceCode > span {
color: #dedede;
}


div.sourceCode,
div.sourceCode pre.sourceCode {
color: #dedede;
}


code span.co {
color: #969896;
}


code span.kw {
color: #c397d8;
}


code span.cf {
color: #c397d8;
}


code span.op {
color: #70c0b1;
}


code span.fu {
color: #dedede;
}


code span.dt {
color: #e7c547;
}


code span.st {
color: #b9ca4a;
}


code span.ch {
color: #b9ca4a;
}


code span.dv {
color: #e78c45;
}


code span.fl {
color: #e78c45;
}


code span.cn {
color: #e78c45;
}


code span.va {
color: #dedede;
}


code span.bu {
color: #e7c547;
}


code span.at {
color: #e7c547;
}


code span.pp {
color: #c397d8;
}


code span.er {
color: #ffffff;
background-color: #df5f5f;
}


code span.wa {
color: #ffffff;
background-color: #b798bf;
}


code span.in {
color: #ffffff;
background-color: #82a3bf;
}

.prevent-inlining { content: '</'; }

// quarto-scss-analysis-annotation { "origin": "'rules' section from user-defined SCSS" }



// quarto-scss-analysis-annotation { "origin": null }