/*-- scss:defaults --*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather&family=Righteous&display=swap');

$font-family-sans-serif:  -apple-system, BlinkMacSystemFont, "Inter" !default;
$font-family-serif:       "Merriweather" !default;

$font-size-base:              1.0rem !default;

// Typography

h1.title.display-7 {
  font-family: "Righteous";
}

p.subtitle.lead {
  text-align: center;
}

a:href {
  color: #00ab6b;
}

a:hover {
    color: #038252;
    text-decoration: none;
}

//** Global textual link color.
$link-color:            #E2402E !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;

$code-block-bg: #2B2423;

.navbar {
  color: #FFFFFF;
}

.navbar-title {
  color: #FFFFFF;
  font-family: "Righteous";
}

a.sidebar-item-text.sidebar-link {
    color: #FFFFFF;
}

li.dropdown-header {
  text-transform: lowercase;
}